In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/events_up_to_01062018.csv', low_memory=False)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
features = df[["timestamp","person"]]
features = features.groupby('person')["timestamp"].value_counts().to_frame()
#features.rename(columns={evento:'cant_'+nombre}, inplace=True)
#features = features.to_frame()
features.columns = ['cant']
features.reset_index(inplace=True)
features.head(10)

     person           timestamp  cant
0  0008ed71 2018-05-17 12:27:47     1
1  0008ed71 2018-05-17 13:44:59     1
2  0008ed71 2018-05-17 13:45:00     1
3  0008ed71 2018-05-17 16:21:54     1
4  0008ed71 2018-05-17 16:22:06     1
5  0008ed71 2018-05-17 16:28:37     1
6  00091926 2018-05-08 23:30:44     3
7  00091926 2018-05-09 00:25:05     3
8  00091926 2018-05-11 02:23:38     3
9  00091926 2018-05-26 03:02:01     3

In [4]:

time = features.drop_duplicates(subset = ["person"],keep = "last").set_index("person").copy()
time = time.drop("cant",1)
time = time["timestamp"].astype(int).to_frame()
time.head()

                    timestamp
person
0008ed71  1526574517000000000
00091926  1527734253000000000
00091a7a  1522076218000000000
000ba417  1527340162000000000
000c79fe  1527554287000000000

In [5]:
#time.to_csv('data/features_time.csv', sep=',')

In [6]:
features["timestamp_int"] = features["timestamp"].astype(int).to_frame()
features_m = features.groupby("person")["timestamp_int"].mean().to_frame()
features_m.columns = ['prom_timestamp']
features_m.head()

               prom_timestamp
person
0008ed71  1526568703833333504
00091926  1526509967468599040
00091a7a  1522076140000000000
000ba417  1527019959656566272
000c79fe  1527554023333333504

In [7]:
#features_m.to_csv('data/features_time_2.csv', sep=',')

In [8]:
features_s = features.groupby("person")["timestamp_int"].sum().astype(float).to_frame()
features_s.columns = ['sum_timestamp']
features_s.head()

          sum_timestamp
person
0008ed71   9.159412e+18
00091926   6.319751e+20
00091a7a   1.217661e+19
000ba417   3.023500e+20
000c79fe   2.291331e+19

In [9]:
features_s.to_csv('data/features_time_3.csv', sep=',')

In [11]:
features = df[["timestamp","person"]]
features = features.groupby('person')["timestamp"].value_counts().to_frame()
#features.rename(columns={evento:'cant_'+nombre}, inplace=True)
#features = features.to_frame()
features.columns = ['cant']
features.reset_index(inplace=True)
features.head(10)

     person           timestamp  cant
0  0008ed71 2018-05-17 12:27:47     1
1  0008ed71 2018-05-17 13:44:59     1
2  0008ed71 2018-05-17 13:45:00     1
3  0008ed71 2018-05-17 16:21:54     1
4  0008ed71 2018-05-17 16:22:06     1
5  0008ed71 2018-05-17 16:28:37     1
6  00091926 2018-05-08 23:30:44     3
7  00091926 2018-05-09 00:25:05     3
8  00091926 2018-05-11 02:23:38     3
9  00091926 2018-05-26 03:02:01     3

In [10]:
time_min = features.drop_duplicates(subset = ["person"],keep = "first").set_index("person").copy()
time_min = time_min.drop("cant",1)
time_min = time_min["timestamp"].astype(int).to_frame()
time_min.columns = ['min_timestamp']
time_min.head()

                min_timestamp
person
0008ed71  1526560067000000000
00091926  1525822244000000000
00091a7a  1522075871000000000
000ba417  1526555505000000000
000c79fe  1527553667000000000

In [11]:
#time_min.to_csv('data/features_time_4.csv', sep=',')

In [21]:
ult_view = df.loc[df["event"] == "viewed product"]
ult_view = ult_view[["person","timestamp"]]
ult_view = ult_view.groupby("person")["timestamp"].value_counts().to_frame()
ult_view.columns = ["cant"]
ult_view = ult_view.reset_index().drop_duplicates("person",keep="last").drop("cant",1)
ult_view["timestamp"] = ult_view["timestamp"].astype(int)
ult_view.columns = ["person","ult_view"]
ult_view = ult_view.set_index("person")

In [22]:
ult_view.head()

                     ult_view
person
00091926  1527734253000000000
00091a7a  1522076216000000000
000ba417  1527339758000000000
000c79fe  1527554208000000000
000e4d9e  1527702322000000000

In [23]:
ult_check = df.loc[df["event"] == "checkout"]
ult_check = ult_check[["person","timestamp"]]
ult_check = ult_check.groupby("person")["timestamp"].value_counts().to_frame()
ult_check.columns = ["cant"]
ult_check = ult_check.reset_index().drop_duplicates("person",keep="last").drop("cant",1)
ult_check["timestamp"] = ult_check["timestamp"].astype(int)
ult_check.columns = ["person","ult_check"]
ult_check = ult_check.set_index("person")

In [25]:
csv = time.join(time_min)
csv = csv.join(features_s)
csv = csv.join(features_m)
csv = csv.join(ult_view)
csv = csv.join(ult_check)
#csv["ult_view"].fillna(0, inplace=True)
csv.to_csv("data/features_time.csv",sep=",")

In [26]:
csv["ult_view"].fillna(0, inplace=True)

In [27]:
csv

,timestamp,min_timestamp,sum_timestamp,prom_timestamp,ult_view,ult_check
person,,,,,,
0008ed71,1526574517000000000,1526560067000000000,9.159412e+18,1526568703833333504,0.000000e+00,1.526575e+18
00091926,1527734253000000000,1525822244000000000,6.319751e+20,1526509967468599040,1.527734e+18,1.527295e+18
00091a7a,1522076218000000000,1522075871000000000,1.217661e+19,1522076140000000000,1.522076e+18,NaN
000ba417,1527340162000000000,1526555505000000000,3.023500e+20,1527019959656566272,1.527340e+18,1.527340e+18
000c79fe,1527554287000000000,1527553667000000000,2.291331e+19,1527554023333333504,1.527554e+18,1.527554e+18
000e4d9e,1527682628000000000,1526990827000000000,5.634234e+20,1526892578623306496,1.527702e+18,1.526475e+18
000e619d,1526645865000000000,1526408408000000000,8.701455e+19,1526571129245614336,1.526661e+18,1.526583e+18
001001be,1526993027000000000,1526495779000000000,1.022760e+20,1526508023134328576,1.526498e+18,1.526499e+18
0010e89a,1527704357000000000,1527704314000000000,6.110817e+18,1527704325500000000,1.527704e+18,1.527704e+18
0016c4b5,1527619679000000000,1527619677000000000,3.055239e+18,1527619678000000000,1.527620e+18,1.527620e+18
001802e4,1527788709000000000,1527788063000000000,2.138904e+19,1527788349357142784,1.527789e+18,1.527789e+18
001804a2,1527273068000000000,1527510712000000000,4.582056e+18,1527352013333333248,0.000000e+00,1.527511e+18
0019e639,1527027357000000000,1517149560000000000,6.386659e+20,1524262304525059328,1.527027e+18,1.527027e+18
001a2273,1526824495000000000,1526823745000000000,1.526824e+19,1526824204500000256,1.526825e+18,1.526824e+18
001b0bf9,1526999450000000000,1526998532000000000,1.068899e+19,1526998875428571392,1.526999e+18,1.526999e+18
001ca5ee,1527070503000000000,1525356925000000000,1.280977e+20,1524973076750000384,1.527071e+18,1.526424e+18
001dfc31,1527635214000000000,1518762943000000000,3.812066e+19,1524826327080000256,1.527635e+18,NaN
001e9aea,1526950960000000000,1525038307000000000,5.793497e+19,1524604454684211200,1.526951e+18,1.525039e+18
0020152e,1527682308000000000,1527681236000000000,9.162041e+18,1527006767000000000,1.527681e+18,1.527682e+18
00202cdb,1526388537000000000,1526316235000000000,3.663238e+19,1526349288125000192,1.526389e+18,1.526389e+18
0022965d,1527723728000000000,1519220495000000000,1.541705e+20,1526441050574257408,1.527724e+18,1.527123e+18
0027574e,1526587172000000000,1525790333000000000,2.335184e+20,1526263830176470528,1.526587e+18,1.526587e+18
00295d74,1527631692000000000,1527630859000000000,2.138684e+19,1527631190714285568,1.527632e+18,1.527632e+18
002aea56,1526506099000000000,1516890715000000000,3.843403e+20,1519131473189723904,1.526506e+18,1.526506e+18
002b0188,1526570813000000000,1521198870000000000,5.185505e+19,1525148608558823680,1.526571e+18,1.521199e+18
002e74b2,1527255813000000000,1527255641000000000,1.069079e+19,1527255719857143040,1.527256e+18,1.527256e+18
002ed810,1527625128000000000,1524190039000000000,7.483168e+19,1527177184918367232,1.527625e+18,1.527624e+18
002fb981,1527621914000000000,1519417555000000000,5.802474e+19,1526966925815789312,1.527684e+18,1.527087e+18
00317e49,1526359144000000000,1526358911000000000,1.373723e+19,1526359066222222080,1.526359e+18,1.526359e+18
0031c75f,1527734150000000000,1527732099000000000,7.944213e+19,1527733300076923136,1.527734e+18,1.527733e+18
...,...,...,...,...,...,...
ffcaae19,1526526295000000000,1526525017000000000,4.426924e+19,1526525542724137472,1.526526e+18,1.526525e+18
ffcaeaae,1524756538000000000,1524755849000000000,3.049512e+19,1524756216899999744,1.524757e+18,NaN
ffccd5a1,1523802738000000000,1523740789000000000,3.047516e+19,1523758075449999872,1.523802e+18,1.523803e+18
ffcf952b,1527771907000000000,1527179435000000000,1.099566e+20,1527175458875000064,1.527686e+18,1.527014e+18
ffd41214,1526412557000000000,1523317465000000000,3.356676e+19,1525761811272727040,1.526374e+18,NaN
ffd62616,1527679878000000000,1526665444000000000,1.343868e+20,1527122416284091136,1.527528e+18,1.526394e+18
ffd9756a,1527107753000000000,1527107751000000000,1.068957e+19,1527081238285714176,1.527071e+18,1.527071e+18
ffda14ca,1527013589000000000,1527013254000000000,4.581040e+18,1527013372666666752,1.527013e+18,1.527014e+18
ffdafc72,1527694743000000000,1527557336000000000,4.277381e+19,1527635923392856832,1.527695e+18,1.527695e+18
ffddd0ec,1526831546000000000,1526828880000000000,4.733175e+19,1526830743096773888,1.526832e+18,NaN
ffde3628,1525465807000000000,1525083071000000000,2.775786e+20,1525157293175824128,1.525466e+18,1.524824e+18
ffe066cc,1527791332000000000,1527791127000000000,7.332411e+19,1527585698541666560,1.527791e+18,1.527689e+18
ffe53446,1526996234000000000,1526916408000000000,2.351462e+20,1526923069792207360,1.526933e+18,1.527014e+18
ffe7e848,1527259177000000000,1519308494000000000,1.371563e+20,1523958739444443904,1.527259e+18,1.527259e+18
ffeb80c5,1527107949000000000,1527107808000000000,7.635539e+18,1527107881199999744,1.527108e+18,1.527108e+18
ffebdbc9,1526581984000000000,1526581858000000000,3.663797e+19,1526581896416666624,1.526582e+18,1.526582e+18
ffecdf29,1526502070000000000,1526494702000000000,1.373848e+19,1526497758777777664,1.526496e+18,1.526502e+18
ffecea3d,1526160491000000000,1524262079000000000,1.220549e+19,1525685876250000128,1.526160e+18,NaN
ffed0342,1527554302000000000,1520550572000000000,4.877952e+20,1524360023387500800,1.527554e+18,1.525631e+18
ffed3d0e,1526349825000000000,1526349550000000000,7.631748e+18,1526349683800000000,1.526350e+18,1.526350e+18
ffee0f18,1527532127000000000,1516733917000000000,4.905995e+21,1519824931413568000,1.527532e+18,1.521068e+18
ffef83e6,1527543857000000000,1523244283000000000,3.019354e+20,1524926469803030528,1.527544e+18,1.526699e+18
fff1659c,1527810851000000000,1527681519000000000,6.567660e+19,1527362678325581824,1.527810e+18,1.527811e+18
fff1b11a,1527520121000000000,1527519508000000000,2.902287e+19,1527519635947368448,1.527520e+18,NaN
fff1caee,1527011262000000000,1527011246000000000,3.054023e+18,1527011254000000000,1.527011e+18,1.527011e+18
fff2bdde,1526597722000000000,1525827657000000000,8.393806e+19,1526146490345455360,1.526597e+18,1.526597e+18
fff54d61,1526672138000000000,1526672138000000000,1.526672e+18,1526672138000000000,0.000000e+00,NaN
fff72025,1526908842000000000,1524857616000000000,1.220579e+20,1525723772412500224,1.525722e+18,1.525722e+18
fff78145,1526508989000000000,1526348195000000000,6.105738e+19,1526434480624999936,1.526509e+18,1.526505e+18
fffd1246,1526595869000000000,1526595726000000000,1.221277e+19,1526595784374999808,1.526596e+18,1.526596e+18