In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/events_up_to_01062018.csv', low_memory=False)
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.loc[df["event"] == "checkout"]
df["model_2"] = df["model"].apply(lambda x: x.split(" ")[0])
df_m = df.groupby("person")["model_2"].value_counts().to_frame()
df_m.columns = ['cant']
df_m = df_m.reset_index()
celulares = df_m["model_2"].value_counts()
celulares
#df_m

Samsung     15108
iPhone      13979
Motorola     4786
LG            699
Lenovo        337
Sony          263
iPad           98
Asus           61
Quantum        29
Name: model_2, dtype: int64

In [4]:
df_m = df_m.drop_duplicates(subset="person", keep='first')
df_m.head()

     person  model_2  cant
0  0008ed71       LG     1
3  00091926   iPhone     2
4  000ba417  Samsung     5
6  000c79fe   iPhone     1
7  000e4d9e  Samsung     1

In [5]:
df_m["check_apple"] = df_m["model_2"].apply(lambda x: 1 if x == "iPhone" else 0)
df_m["check_samsung"] = df_m["model_2"].apply(lambda x: 1 if x == "Samsung" else 0)
#df_m["check_motorola"] = df_m["model_2"].apply(lambda x: 1 if x == "Motorola" else 0)
#df_m["vio_mas_lg"] = df_m["model_2"].apply(lambda x: 1 if x == "LG" else 0)
df_m = df_m.set_index("person")
df_m

           model_2  cant  check_apple  check_samsung
person
0008ed71        LG     1            0              0
00091926    iPhone     2            1              0
000ba417   Samsung     5            0              1
000c79fe    iPhone     1            1              0
000e4d9e   Samsung     1            0              1
000e619d   Samsung     1            0              1
001001be    iPhone     3            1              0
0010e89a   Samsung     1            0              1
0016c4b5   Samsung     1            0              1
001802e4    iPhone     1            1              0
001804a2    iPhone     2            1              0
0019e639   Samsung     8            0              1
001a2273   Samsung     1            0              1
001b0bf9   Samsung     2            0              1
001ca5ee    iPhone     1            1              0
001e9aea    iPhone     3            1              0
0020152e   Samsung     2            0              1
00202cdb    iPhone     2            1              0
0022965d   Samsung     8            0              1
0027574e   Samsung     3            0              1
00295d74   Samsung     2            0              1
002aea56    iPhone    10            1              0
002b0188   Samsung     1            0              1
002e74b2    iPhone     1            1              0
002ed810   Samsung     2            0              1
002fb981    iPhone     1            1              0
00317e49   Samsung     1            0              1
0031c75f  Motorola     2            0              0
00344873   Samsung     1            0              1
003847fc  Motorola     1            0              0
...            ...   ...          ...            ...
ffbb282f   Samsung     1            0              1
ffbb90a9    iPhone     1            1              0
ffbfc511   Samsung     1            0              1
ffc0f2a0   Samsung     4            0              1
ffc51f07   Samsung     1            0              1
ffc670b3   Samsung     6            0              1
ffcaae19   Samsung     1            0              1
ffccd5a1   Samsung     4            0              1
ffcf952b   Samsung     1            0              1
ffd62616   Samsung     1            0              1
ffd9756a    iPhone     1            1              0
ffda14ca    iPhone     1            1              0
ffdafc72   Samsung     2            0              1
ffde3628   Samsung     2            0              1
ffe066cc    iPhone     1            1              0
ffe53446   Samsung     5            0              1
ffe7e848   Samsung     4            0              1
ffeb80c5   Samsung     1            0              1
ffebdbc9   Samsung     1            0              1
ffecdf29   Samsung     3            0              1
ffed0342   Samsung     7            0              1
ffed3d0e    iPhone     1            1              0
ffee0f18  Motorola     1            0              0
ffef83e6   Samsung     1            0              1
fff1659c  Motorola     3            0              0
fff1caee        LG     1            0              0
fff2bdde   Samsung     4            0              1
fff72025        LG     1            0              0
fff78145    iPhone     2            1              0
fffd1246    iPhone     1            1              0

[32833 rows x 4 columns]

In [6]:
df_m = df_m.drop(["model_2","cant"],1)

df_m.to_csv('data/features_checkout.csv', sep=',')

In [7]:
df_m

          check_apple  check_samsung
person
0008ed71            0              0
00091926            1              0
000ba417            0              1
000c79fe            1              0
000e4d9e            0              1
000e619d            0              1
001001be            1              0
0010e89a            0              1
0016c4b5            0              1
001802e4            1              0
001804a2            1              0
0019e639            0              1
001a2273            0              1
001b0bf9            0              1
001ca5ee            1              0
001e9aea            1              0
0020152e            0              1
00202cdb            1              0
0022965d            0              1
0027574e            0              1
00295d74            0              1
002aea56            1              0
002b0188            0              1
002e74b2            1              0
002ed810            0              1
002fb981            1              0
00317e49            0              1
0031c75f            0              0
00344873            0              1
003847fc            0              0
...               ...            ...
ffbb282f            0              1
ffbb90a9            1              0
ffbfc511            0              1
ffc0f2a0            0              1
ffc51f07            0              1
ffc670b3            0              1
ffcaae19            0              1
ffccd5a1            0              1
ffcf952b            0              1
ffd62616            0              1
ffd9756a            1              0
ffda14ca            1              0
ffdafc72            0              1
ffde3628            0              1
ffe066cc            1              0
ffe53446            0              1
ffe7e848            0              1
ffeb80c5            0              1
ffebdbc9            0              1
ffecdf29            0              1
ffed0342            0              1
ffed3d0e            1              0
ffee0f18            0              0
ffef83e6            0              1
fff1659c            0              0
fff1caee            0              0
fff2bdde            0              1
fff72025            0              0
fff78145            1              0
fffd1246            1              0

[32833 rows x 2 columns]