In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/events_up_to_01062018.csv', low_memory=False)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### cantidad de eventos antes de hacer una conversion

In [3]:
df2 = df[df["event"]=="viewed product"]
df2 = df2.groupby('person')['event'].value_counts().unstack()
df2.rename(columns={"viewed product":'cant_view_prodc'}, inplace=True)

In [4]:
df_prom = df2.groupby("person").agg({"cant_view_prodc":"mean"})
prom = df2.agg({"cant_view_prodc":"mean"})

df_prom["mas_prom"] = df_prom["cant_view_prodc"].apply(lambda x: 1 if x > prom.values[0] else 0)
#df_prom = df_prom.drop("cant_view_prodc",1)

In [5]:
df_prom.to_csv('data/vistas_promedio.csv', sep=',')

compradores = df.loc[df['event'] == "conversion"]
compradores = compradores["person"].drop_duplicates().tolist()

data = df.loc[(df["person"].isin(compradores))]
#(df["event"]!= "conversion") &
data = data.groupby("person")["event"].value_counts().to_frame()
data.columns = ['cant']
data.reset_index()

In [6]:
df_prom

          cant_view_prodc  mas_prom
person
00091926              372         1
00091a7a                3         0
000ba417              153         1
000c79fe                3         0
000e4d9e              339         1
000e619d               28         0
001001be               41         1
0010e89a                1         0
0016c4b5                1         0
001802e4                4         0
0019e639              189         1
001a2273                6         0
001b0bf9                2         0
001ca5ee               52         1
001dfc31               18         0
001e9aea               17         0
0020152e                2         0
00202cdb               14         0
0022965d               15         0
0027574e              102         1
00295d74               11         0
002aea56              161         1
002b0188               12         0
002e74b2                2         0
002ed810               22         0
002fb981               20         0
00317e49                4         0
0031c75f               26         0
00344873                7         0
003476c0                6         0
...                   ...       ...
ffc670b3               88         1
ffcaae19               27         0
ffcaeaae               12         0
ffccd5a1                6         0
ffcf952b               53         1
ffd41214                5         0
ffd62616               11         0
ffd9756a                1         0
ffda14ca                1         0
ffdafc72               23         0
ffddd0ec               12         0
ffde3628              142         1
ffe066cc               24         0
ffe53446              110         1
ffe7e848               62         1
ffeb80c5                2         0
ffebdbc9               24         0
ffecdf29                3         0
ffecea3d                5         0
ffed0342              214         1
ffed3d0e                1         0
ffee0f18             1484         1
ffef83e6              167         1
fff1659c               19         0
fff1b11a               19         0
fff1caee                1         0
fff2bdde               34         1
fff72025               42         1
fff78145               31         0
fffd1246                4         0

[37130 rows x 2 columns]