## separar por mayor cantidad de telefonos vistos

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/events_up_to_01062018.csv', low_memory=False)
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.loc[df["event"] == "viewed product"]
df["model_2"] = df["model"].apply(lambda x: x.split(" ")[0])
df_m = df.groupby("person")["model_2"].value_counts().to_frame()
df_m.columns = ['cant']
df_m = df_m.reset_index()
celulares = df_m["model_2"].value_counts()
celulares
#df_m

Samsung     24012
iPhone      22934
Motorola    11395
LG           4226
Sony         3056
Lenovo       2306
iPad         1676
Asus         1218
Quantum       792
Name: model_2, dtype: int64

In [4]:
df_m = df_m.drop_duplicates(subset="person", keep='first')
df_m

         person   model_2  cant
0      00091926    iPhone   251
7      00091a7a    iPhone     3
8      000ba417   Samsung   105
13     000c79fe    iPhone     3
14     000e4d9e   Samsung   300
19     000e619d   Samsung    11
23     001001be    iPhone    41
24     0010e89a   Samsung     1
25     0016c4b5   Samsung     1
26     001802e4    iPhone     4
27     0019e639  Motorola   131
31     001a2273   Samsung     4
33     001b0bf9   Samsung     2
34     001ca5ee    iPhone    52
35     001dfc31    iPhone    17
37     001e9aea    iPhone    16
39     0020152e   Samsung     2
40     00202cdb    iPhone    14
41     0022965d   Samsung    15
42     0027574e   Samsung    75
46     00295d74   Samsung    11
47     002aea56    iPhone   137
53     002b0188   Samsung     9
57     002e74b2    iPhone     2
58     002ed810   Samsung    19
60     002fb981    iPhone    20
61     00317e49    iPhone     3
63     0031c75f  Motorola    16
67     00344873   Samsung     7
68     003476c0    iPhone     5
...         ...       ...   ...
71532  ffc670b3    iPhone    53
71535  ffcaae19   Samsung    27
71536  ffcaeaae  Motorola     5
71539  ffccd5a1   Samsung     5
71541  ffcf952b   Samsung    26
71545  ffd41214    iPhone     3
71547  ffd62616   Samsung     8
71551  ffd9756a    iPhone     1
71552  ffda14ca    iPhone     1
71553  ffdafc72   Samsung    21
71555  ffddd0ec  Motorola     9
71558  ffde3628   Samsung   119
71563  ffe066cc    iPhone    24
71564  ffe53446   Samsung    82
71569  ffe7e848   Samsung    40
71572  ffeb80c5   Samsung     2
71573  ffebdbc9   Samsung    24
71574  ffecdf29   Samsung     2
71576  ffecea3d    iPhone     5
71577  ffed0342   Samsung   189
71581  ffed3d0e    iPhone     1
71582  ffee0f18   Samsung   695
71591  ffef83e6  Motorola   124
71598  fff1659c  Motorola     9
71601  fff1b11a   Samsung    15
71603  fff1caee        LG     1
71604  fff2bdde   Samsung    32
71607  fff72025        LG    20
71612  fff78145    iPhone    22
71614  fffd1246    iPhone     4

[37130 rows x 3 columns]

In [5]:
df_m["vio_mas_apple"] = df_m["model_2"].apply(lambda x: 1 if x == "iPhone" else 0)
df_m["vio_mas_samsung"] = df_m["model_2"].apply(lambda x: 1 if x == "Samsung" else 0)
df_m["vio_mas_motorola"] = df_m["model_2"].apply(lambda x: 1 if x == "Motorola" else 0)
#df_m["vio_mas_lg"] = df_m["model_2"].apply(lambda x: 1 if x == "LG" else 0)
df_m = df_m.set_index("person")

In [6]:
df_m = df_m.drop(["model_2","cant"],1)

df_m.to_csv('data/features_mas_vistos.csv', sep=',')

In [7]:
df_m

          vio_mas_apple  vio_mas_samsung  vio_mas_motorola
person
00091926              1                0                 0
00091a7a              1                0                 0
000ba417              0                1                 0
000c79fe              1                0                 0
000e4d9e              0                1                 0
000e619d              0                1                 0
001001be              1                0                 0
0010e89a              0                1                 0
0016c4b5              0                1                 0
001802e4              1                0                 0
0019e639              0                0                 1
001a2273              0                1                 0
001b0bf9              0                1                 0
001ca5ee              1                0                 0
001dfc31              1                0                 0
001e9aea              1                0                 0
0020152e              0                1                 0
00202cdb              1                0                 0
0022965d              0                1                 0
0027574e              0                1                 0
00295d74              0                1                 0
002aea56              1                0                 0
002b0188              0                1                 0
002e74b2              1                0                 0
002ed810              0                1                 0
002fb981              1                0                 0
00317e49              1                0                 0
0031c75f              0                0                 1
00344873              0                1                 0
003476c0              1                0                 0
...                 ...              ...               ...
ffc670b3              1                0                 0
ffcaae19              0                1                 0
ffcaeaae              0                0                 1
ffccd5a1              0                1                 0
ffcf952b              0                1                 0
ffd41214              1                0                 0
ffd62616              0                1                 0
ffd9756a              1                0                 0
ffda14ca              1                0                 0
ffdafc72              0                1                 0
ffddd0ec              0                0                 1
ffde3628              0                1                 0
ffe066cc              1                0                 0
ffe53446              0                1                 0
ffe7e848              0                1                 0
ffeb80c5              0                1                 0
ffebdbc9              0                1                 0
ffecdf29              0                1                 0
ffecea3d              1                0                 0
ffed0342              0                1                 0
ffed3d0e              1                0                 0
ffee0f18              0                1                 0
ffef83e6              0                0                 1
fff1659c              0                0                 1
fff1b11a              0                1                 0
fff1caee              0                0                 0
fff2bdde              0                1                 0
fff72025              0                0                 0
fff78145              1                0                 0
fffd1246              1                0                 0

[37130 rows x 3 columns]